portraits/
portraits.zip
lightning_logs/
models/
**/.DS_Store
figures/
processing/face_extract.py
processing/lbpcascade_*
processing/test.png
portraits.zip
**/__pycache__/
*.pyc
.DS_Store
sketches/
exemplars/